page-about {
    .scroll {
        height: 100%
      }
    
      #map {
        width: auto;
        height: 15em;
      }
    
    
    // #map {
    //   width: 100%;
    //   height: 100%;
    // }
}
